.background {
  width: 100%;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}

.large-bg {
  height: 60vh;
}

.medium-bg {
  height: 45vh;
  min-height: 375px;
}

.small-bg {
  height: 25vh;
}

.fullsize-bg {
  height: 100vh;
}
