@use '../abstracts' as *;

footer {
  width: 100%;
  .footer-header {
    height: 150px;
    background-color: $purple;
    padding: 0 calc((100vw - 1400px) / 2);
    display: flex;

    .logo {
      width: 50%;
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }
      h1 {
        font-weight: bold;
        font-size: clamp(18px, 3vw, 36px);

        color: $light-text;
      }
      h2 {
        font-weight: 500;
        font-size: clamp(12px, 2vw, 30px);

        color: $light-text;
      }
    }
    .navigation {
      width: 50%;
      margin: 25px 0;
      ul {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        li {
          margin: 0 15px;
          font-weight: 500;
          font-size: clamp(12px, 2vw, 18px);
          line-height: 22px;

          color: $light-text;

          .icon {
            font-size: 35px;
          }
        }
      }
    }
  }

  .footer-bottom {
    height: 25px;
    background-color: $background;
    text-align: center;

    h1 {
      font-weight: normal;
      font-size: clamp(12px, 2vw, 16px);
      line-height: 21px;

      color: $purple;

      padding: 5px 0;
    }
  }
}
@media screen and(max-width: 1450px) {
  footer {
    .footer-header {
      padding: 0 25px;
    }
  }
}
@media screen and(max-width: 450px) {
  footer {
    .footer-header {
      flex-direction: column;
      align-items: center;
      height: auto;
      .logo,
      .navigation {
        width: 100%;
      }
      .navigation {
        ul {
          justify-content: center;
          li {
            font-size: 12px;
            margin: 0 5px;
          }
        }
      }
      .logo {
        margin-top: 10px;
      }
    }
  }
}
