.password-change-card {
  width: 70%;
  padding-left: 50px;

  form {
    width: calc(100% - 25px);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    img {
      width: 50px;
      border-radius: 25px;
      align-self: center;
      justify-self: flex-end;
    }

    h1 {
      align-self: center;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-self: center;
      font-weight: bold;
    }
    input {
      height: 40px;
      width: 70%;
      border: 1px solid #aaa;
      outline: none;
      border-radius: 5px;
      padding: 5px;
    }

    button {
      grid-column: 2/3;
      width: 200px;
      height: 40px;
      border: none;
      background: #49205c;
      color: #eee;
      margin-top: 25px;
    }
  }
}
