@use '../abstracts' as *;

.profession-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  &__title {
    padding: 0.5rem 2rem;
    background: $purple;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: $light-text;
  }
}
