.profession-badge {
  width: 200px;
  height: 40px;
  background: #49205c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #eeeeee;
  }
}
