@use '../abstracts' as *;

.rating-card {
  h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
    color: $purple;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;
      input {
        width: 70%;
        height: 30px;
        margin: 10px 0;
        outline: none;
        padding: 5px;
        border: 1px solid $input-border;
        border-radius: 5px;
      }
    }

    select,
    textarea {
      width: 70%;
      margin: 10px 0;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $input-border;
    }

    textarea {
      height: 100px;
      resize: none;
    }
  }
}
