.contact {
  width: 100%;
  height: 25vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}
.contact-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
  .container {
    width: 100%;
    height: 750px;
    background: white;
    padding: 0 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    transform: translateY(-75px);
    .left-bar {
      width: 50%;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: clamp(24px, 5vw, 48px);

        color: #212121;
        margin-bottom: 20px;
      }

      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: clamp(16px, 2vw, 22px);
        text-align: justify;

        color: #000000;
        margin-bottom: 25px;
      }
      li {
        margin-bottom: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: clamp(12px, 2vw, 24px);
        display: flex;
        align-items: center;

        color: #000000;

        .icon {
          margin-right: 25px;
          font-size: clamp(1rem, 2vw, 2rem);
        }
      }
    }
    .right-bar {
      width: 50%;
      form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          height: 40px;
          background: #49205c;
          width: 200px;
          color: white;
          border: none;
          margin: 30px 0;
        }

        .input-group {
          position: relative;
          width: 60%;
          overflow: hidden;
          margin: 10px 0;

          input,
          textarea {
            width: 100%;
            height: 50px;
            border: none;
            color: #212121;
            padding-top: 20px;
            outline: none;
          }

          textarea {
            height: 100px;
            resize: none;
          }

          input:focus + .label-name .content-name,
          input:valid + .label-name .content-name {
            transform: translateY(-25px);
            font-size: 14px;
            color: #49205c;
          }

          textarea:focus + .label-name .content-name,
          textarea:valid + .label-name .content-name {
            transform: translateY(-80px);
            font-size: 14px;
            color: #49205c;
          }

          input:focus + .label-name::after,
          textarea:focus + .label-name::after {
            transform: translateX(0);
          }

          label {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid #212121;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0px;
              bottom: -1px;
              border-bottom: 3px solid #49205c;
              transform: translateX(-100%);
              transition: transform 0.5s ease;
            }

            .content-name {
              position: absolute;
              left: 0;
              bottom: 5px;
              transition: transform 0.5s ease;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1450px) {
  .contact-content {
    padding: 0 25px;
    .container {
      padding: 0 50px;
    }
  }
}

@media screen and(max-width: 450px) {
  .contact-content {
    .container {
      flex-direction: column;
      padding: 50px 25px;
      align-items: flex-start;
      height: auto;
      .left-bar,
      .right-bar {
        width: 100%;
      }

      .left-bar {
        li {
          .icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
