@use '../abstracts' as *;

.edit {
  .white-container {
    height: auto;
    min-height: 750px;
    padding: 100px 50px;
    align-items: flex-start;
    .edit-menu {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media screen and(max-width: 768px) {
  .edit .white-container {
    flex-direction: column;
    .edit-menu {
      width: 100%;
      padding-bottom: 25px;
      border-bottom: 3px solid $purple;
      margin-bottom: 50px;
    }
  }
}
