@use '../abstracts' as *;

.error .white-container {
  height: 750px;
  .leftbar {
    width: 50%;
    padding-right: 50px;

    h1 {
      font-weight: 500;
      font-size: clamp(24px, 4vw, 48px);
      margin-bottom: 10px;
    }
    span {
      font-weight: bold;
      font-size: clamp(72px, 8vw, 96px);
      margin-bottom: 20px;
    }
    p {
      font-weight: 500;
      font-size: clamp(12px, 2vw, 18px);
      line-height: 27px;

      margin-bottom: 20px;
    }

    .link {
      width: 200px;
      padding: 0.75rem 3rem;
      background: $purple;
      text-decoration: none;
      font-size: clamp(18px, 3vw, 24px);
      margin: 15px 0;
      color: $light-text;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .rightbar {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

@media screen and(max-width: 450px) {
  .error .white-container {
    padding: 50px 25px;
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
    .rightbar {
      width: 100%;
      align-self: center;
      img {
        width: 200px;
      }
    }
    .leftbar {
      width: 100%;
      padding: 0;
    }
  }
}
