@use '../abstracts' as *;

.category .transparent-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 420px;
    text-align: center;
    font-weight: 600;
    font-size: clamp(24px, 4vw, 36px);
    line-height: 50px;
    padding: 15px 0;
    margin-bottom: 25px;
    border-bottom: 5px solid $purple;
  }

  p {
    text-align: center;
    font-weight: normal;
    font-size: clamp(14px, 3vw, 18px);
    line-height: 21px;
    margin-bottom: 50px;
  }

  .profession-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
}

@media screen and(max-width: 1450px) {
  .category .transparent-container {
    .profession-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and(max-width: 450px) {
  .category .transparent-container {
    margin-top: 175px;

    &__title {
      width: 290px;
    }

    .profession-container {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 100px;
    }
  }
}
