.offer-content {
  width: 100%;
  .container {
    width: 100%;
    max-width: 1400px;
    height: 750px;
    background: white;
    margin: 0 calc((100vw - 1400px) / 2);
    padding: 0 100px;
    transform: translateY(-75px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-weight: normal;
      font-size: 36px;
      line-height: 54px;
      margin: 25px 0;
      color: #212121;
    }

    form {
      display: grid;
      grid-column-gap: 40px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      .input-group {
        display: flex;
        flex-direction: column;
      }

      button {
        width: 200px;
        align-self: center;
        justify-self: center;
        background: #49205c;
        color: #eee;
        border: none;
        padding: 0.75rem 3rem;
      }
      .checkbox {
        width: 100%;
        font-size: 18px;
        color: #212121;
        margin-top: 10px;
        margin-bottom: 25px;

        input[type="checkbox"] {
          border: 1px solid #49205c;
        }
        span {
          margin-left: 5px;
          span {
            color: #49205c;
            font-weight: 600;
          }
        }
      }
    }
  }
}
