@use '../abstracts' as *;

.offer .white-container {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h1 {
    font-weight: 500;
    font-size: clamp(24px, 4vw, 36px);
    line-height: 54px;
    margin: 25px 0;
  }

  form {
    width: 100%;
    display: grid;
    position: relative;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 140px 1fr;

    .flat-input {
      width: 100%;

      &.text {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }
    button {
      grid-row: 4/5;
      grid-column: 2/3;
    }

    .checkbox {
      align-self: center;
      width: 100%;
      font-size: clamp(12px, 2vw, 18px);
      margin-top: 10px;
      margin-bottom: 25px;

      input[type="checkbox"] {
        border: 1px solid $purple;
      }
      span {
        margin-left: 5px;
        span {
          color: $purple;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and(max-width: 450px) {
  .offer .white-container {
    height: auto;
    form {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 140px 1fr 1fr;

      .flat-input.text {
        grid-column: 1/2;
        grid-row: 5/6;
      }
      button {
        grid-column: 1/2;
        grid-row: 7/8;
      }
    }
  }
}
