@use '../abstracts' as *;

.profile .white-container {
  height: auto;
  padding: 50px;
  align-items: flex-start;
  flex-direction: column;

  .profile-image {
    width: 300px;
    border-radius: 50%;
    position: absolute;
    border: 5px solid $input-background;
    left: 50px;
    top: -200px;
  }

  .button-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
  }

  .profile-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    h1 {
      font-weight: 500;
      font-size: clamp(36px, 5vw, 48px);
      line-height: 72px;

      color: $purple;
    }
    .rating {
      margin: 0 15px;
      display: flex;
      align-items: center;

      .rating-stars {
        span {
          font-size: 32px;
        }
      }
      .rating-text {
        font-size: 14px;
        color: $dark-text;
        margin-left: 10px;
      }
    }
  }

  .contact-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    h2 {
      font-weight: 500;
      font-size: clamp(18px, 3vw, 24px);
      line-height: 36px;
      margin-bottom: 15px;
      margin-right: 25px;
      color: $dark-text;
      display: flex;
      align-items: center;
      .icon {
        line-height: 36px;
        font-size: 24px;
        margin-right: 5px;
        color: $dark-text;
      }
    }
  }

  .description,
  .gallery {
    h3 {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 10px;
      color: $purple;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      text-align: justify;
      margin-bottom: 50px;
    }
  }
  .profession-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media screen and(max-width: 768px) {
  .profile .white-container {
    align-items: center;
    padding: 50px 25px;

    .button-container {
      justify-content: center;
      margin-top: 75px;
    }
    .profile-image {
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
      top: -100px;
    }

    .profile-header {
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
      }
      .rating {
        flex-direction: column;
      }
    }
    .contact-info {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and(max-width: 399px) {
  .profile .white-container {
    .profession-bar {
      .profession-badge {
        .medium {
          font-size: 14px;
          padding: 0.2rem 1rem;
        }
      }
    }
  }
}
