@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
.hamburger-icon {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
  position: relative;
}
.hamburger-icon .line {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: #eee;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
.hamburger-icon .line:first-child, .hamburger-icon .line:last-child {
  width: 15px;
}
.hamburger-icon .line:first-child {
  top: 0;
  left: 0;
}
.hamburger-icon .line:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hamburger-icon .line:last-child {
  bottom: 0;
  right: 0;
}
.hamburger-icon.open .line:first-child {
  transform: translateX(2px) translateY(8px) rotate(405deg);
}
.hamburger-icon.open .line:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}
.hamburger-icon.open .line:last-child {
  transform: translateX(-2px) translateY(-8px) rotate(405deg);
}

.sidemenu {
  width: 100%;
  height: 100%;
  background: #e3e3e3;
  position: fixed;
  z-index: 20;
  top: 80px;
  right: -100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: transform 0.5s ease-in-out;
}
.sidemenu li {
  padding: 1rem 2rem;
}
.sidemenu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
}
.sidemenu.open {
  transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
  .sidemenu {
    display: none;
  }
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc((100vw - 1400px) / 2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar__logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.navbar__logo h1 {
  font-weight: bold;
  font-size: clamp(18px, 5vw, 24px);
  line-height: 36px;
  color: #eee;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0.75rem 1.5rem;
  color: #eee;
}
.navbar__toggle {
  display: none;
}

@media screen and (max-width: 1450px) {
  .navbar {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .navbar__toggle {
    display: block;
  }
}
.hero {
  width: 100%;
  height: 60vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
.hero .text-container {
  width: 100%;
  height: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .text-container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(32px, 5vw, 64px);
  line-height: clamp(50px, 5vw, 80px);
  /* or 125% */
  color: #eee;
}
.hero .text-container p {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 32px);
  line-height: clamp(25px, 5vw, 55px);
  /* or 153% */
  color: #eee;
}

@media screen and (max-width: 1450px) {
  .hero .text-container {
    padding: 0 25px;
  }
  .hero .search-bar {
    max-width: calc(100% - 50px);
  }
}
footer {
  width: 100%;
}
footer .footer-header {
  height: 150px;
  background-color: #49205c;
  padding: 0 calc((100vw - 1400px) / 2);
  display: flex;
}
footer .footer-header .logo {
  width: 50%;
  display: flex;
  align-items: center;
}
footer .footer-header .logo img {
  margin-right: 15px;
}
footer .footer-header .logo h1 {
  font-weight: bold;
  font-size: clamp(18px, 3vw, 36px);
  color: #eee;
}
footer .footer-header .logo h2 {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 30px);
  color: #eee;
}
footer .footer-header .navigation {
  width: 50%;
  margin: 25px 0;
}
footer .footer-header .navigation ul {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
footer .footer-header .navigation ul li {
  margin: 0 15px;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 22px;
  color: #eee;
}
footer .footer-header .navigation ul li .icon {
  font-size: 35px;
}
footer .footer-bottom {
  height: 25px;
  background-color: #e3e3e3;
  text-align: center;
}
footer .footer-bottom h1 {
  font-weight: normal;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 21px;
  color: #49205c;
  padding: 5px 0;
}

@media screen and (max-width: 1450px) {
  footer .footer-header {
    padding: 0 25px;
  }
}
@media screen and (max-width: 450px) {
  footer .footer-header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  footer .footer-header .logo,
footer .footer-header .navigation {
    width: 100%;
  }
  footer .footer-header .navigation ul {
    justify-content: center;
  }
  footer .footer-header .navigation ul li {
    font-size: 12px;
    margin: 0 5px;
  }
  footer .footer-header .logo {
    margin-top: 10px;
  }
}
.category-card {
  position: relative;
  margin: 25px;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.category-card img {
  width: 100%;
  height: 100%;
}
.category-card h1 {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: rgba(73, 32, 92, 0.29);
}
.category-card:hover {
  transform: scale(1.1);
}

.provider-card {
  text-decoration: none;
  margin: 50px 0;
  width: calc(100% - 150px);
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  transform: translateX(150px);
  padding: 25px 0;
}
.provider-card .provider-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: translateX(-150px);
  border: 5px solid rgba(72, 32, 91, 0.5);
}
.provider-card .provider-info {
  width: 100%;
  transform: translateX(-125px);
}
.provider-card .provider-info .header {
  display: flex;
  align-items: center;
}
.provider-card .provider-info .header .rating {
  display: flex;
  flex-direction: row;
}
.provider-card .provider-info .header .rating .rating-stars {
  margin-right: 5px;
}
.provider-card .provider-info .header h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #49205c;
  margin-right: 15px;
  margin-bottom: 5px;
}
.provider-card .provider-info h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  margin-bottom: 20px;
}
.provider-card .provider-info h2 .icon {
  margin-right: 5px;
}
.provider-card .provider-info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #212121;
}
.provider-card .provider-info .professions-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.profession-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
}
.profession-badge__title {
  padding: 0.5rem 2rem;
  background: #49205c;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #eee;
}

.auto-input {
  width: calc((100% - 75px) / 2);
  height: 75px;
  padding-right: 12px;
  position: relative;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.auto-input input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #f7f7f7;
  border: 1px solid #aaa;
  padding: 15px;
  font-size: 20px;
  outline: none;
}
.auto-input ul {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 20;
  width: calc(100% - 12px);
  list-style: none;
  border-radius: 10px;
  background: #eee;
  padding: 5px 0;
  border: 1px solid #aaa;
  max-height: 250px;
  overflow-y: auto;
}
.auto-input ul li {
  background: #eee;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
}
.auto-input ul li:hover {
  background: #eee;
}
.auto-input ul li:first-child {
  margin-top: 0;
}
.auto-input ::-webkit-scrollbar {
  width: 15px;
}
.auto-input ::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 0 10px 10px 0;
}
.auto-input ::-webkit-scrollbar-thumb {
  background: #f7f7f7;
  border-radius: 0 10px 10px 0;
}
.auto-input ::-webkit-scrollbar-thumb:hover {
  background: #49205c;
}

@media screen and (max-width: 450px) {
  .auto-input {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
  .auto-input ul {
    width: 100%;
  }
}
.profession-list {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profession-list h1 {
  margin: 25px 0;
  color: #212121;
}
.profession-list .professions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.profession-list .professions a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  background: #49205c;
  color: #eee;
  margin: 10px;
  padding: 0.5rem 2rem;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.profession-list .professions a:hover {
  transform: scale(1.05);
}
.profession-list .back-arrow {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 2rem;
  color: #212121;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.profession-list .back-arrow:hover {
  transform: scale(1.1);
  color: #49205c;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}
.pagination a {
  text-decoration: none;
  color: #eee;
}
.pagination a li {
  cursor: pointer;
  background: #49205c;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 0.5rem;
}

.profile-button {
  user-select: none;
  width: 200px;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03);
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03);
  color: #eee;
  font-weight: bold;
  cursor: pointer;
}
.profile-button .button {
  display: flex;
  align-items: center;
}
.profile-button .button img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.profile-button .button span {
  margin: 0 5px;
  user-select: none;
}
.profile-button .dropdown {
  display: none;
}
.profile-button .dropdown.open {
  position: absolute;
  top: 50px;
  left: 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.2);
  width: 200px;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}
.profile-button .dropdown.open span,
.profile-button .dropdown.open a {
  text-decoration: none;
  color: #eee;
  user-select: none;
  display: flex;
  align-items: center;
}
.profile-button .dropdown.open span .icon,
.profile-button .dropdown.open a .icon {
  margin-left: 5px;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container .small {
  width: 25px;
  height: 25px;
  margin: 5px 0;
}
.loader-container .medium {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}
.loader-container .large {
  width: 100px;
  height: 100px;
  margin: 50px 0;
}

.edit-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-menu a {
  text-decoration: none;
  width: 100%;
  height: 50px;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #49205c;
  border-radius: 10px;
  color: #49205c;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.edit-menu a:hover {
  border: none;
  background: #49205c;
  color: #eee;
}
.edit-menu a.active {
  border: none;
  background: #49205c;
  color: #eee;
}

.rating-card h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
  color: #49205c;
}
.rating-card form {
  display: flex;
  flex-direction: column;
}
.rating-card form label {
  display: flex;
  flex-direction: column;
}
.rating-card form label input {
  width: 70%;
  height: 30px;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.rating-card form select,
.rating-card form textarea {
  width: 70%;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.rating-card form textarea {
  height: 100px;
  resize: none;
}

.edit-card {
  width: 70%;
  padding-left: 50px;
}
.edit-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.edit-card form img {
  width: 50px;
  border-radius: 25px;
  align-self: center;
  justify-self: flex-end;
}
.edit-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.edit-card form .bio {
  align-self: flex-start;
}
.edit-card form input,
.edit-card form textarea {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.edit-card form textarea {
  resize: none;
  height: 100px;
}
.edit-card form input[type=file] {
  height: fit-content;
  width: fit-content;
}
.edit-card form .picture {
  align-items: flex-start;
  font-weight: 500;
}
.edit-card form button {
  grid-column: 2/3;
}

.password-change-card {
  width: 70%;
  padding-left: 50px;
}
.password-change-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.password-change-card form img {
  width: 50px;
  border-radius: 25px;
  align-self: center;
  justify-self: flex-end;
}
.password-change-card form h1 {
  align-self: center;
}
.password-change-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.password-change-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.password-change-card form button {
  grid-column: 2/3;
}

.delete-card {
  width: 70%;
  padding-left: 50px;
}
.delete-card p {
  color: #212121;
  font-size: 18px;
  margin-bottom: 25px;
}
.delete-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}
.delete-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.delete-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.delete-card form button {
  grid-column: 2/3;
}

.gallery-upload-card {
  width: 70%;
  padding-left: 50px;
}
.gallery-upload-card p {
  color: #212121;
  font-size: 18px;
  margin-bottom: 25px;
}
.gallery-upload-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.gallery-upload-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.gallery-upload-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.gallery-upload-card form button {
  grid-column: 2/3;
}

.add-profession-card {
  width: 70%;
  padding-left: 50px;
}
.add-profession-card p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #212121;
}
.add-profession-card h1 {
  margin-bottom: 25px;
}
.add-profession-card .profession-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  position: relative;
}
.add-profession-card .profession-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #49205c;
}
.add-profession-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.add-profession-card form label {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-start;
  font-weight: bold;
}
.add-profession-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.add-profession-card form .auto-input {
  justify-self: center;
  width: 100%;
}
.add-profession-card form button {
  grid-column: 2/3;
}

.message-container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-container .error {
  font-size: 18px;
  color: #ff3333;
  font-weight: 500;
}
.message-container .icon {
  font-size: 18px;
  color: #ff3333;
  margin-right: 5px;
}
.message-container .small {
  margin: 10px 0;
}
.message-container .medium {
  margin: 25px 0;
}
.message-container .large {
  margin: 50px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-container {
  position: relative;
  width: 400px;
  height: 200px;
  background: #eee;
  padding: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.modal .modal-container .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal .modal-container .content .envelope {
  font-size: 2rem;
  color: #212121;
}
.modal .modal-container .content h1 {
  position: relative;
  font-size: 1rem;
  color: #212121;
  margin-bottom: 15px;
}
.modal .modal-container .content h1::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -70px;
  right: -170px;
  background: #49205c;
}
.modal .modal-container .content h1::before {
  content: "";
  width: 180%;
  height: 3px;
  position: absolute;
  bottom: -90px;
  right: -150px;
  background: #49205c;
}
.modal .modal-container .content .icon {
  cursor: pointer;
  color: #49205c;
  font-size: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal .modal-container::before {
  content: "";
  width: 80%;
  height: 3px;
  position: absolute;
  top: 20px;
  left: -20px;
  background: #49205c;
}
.modal .modal-container::after {
  content: "";
  width: 40%;
  height: 3px;
  position: absolute;
  top: 40px;
  left: -40px;
  background: #49205c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3e3e3;
}

button {
  border: none;
  height: 50px;
  width: 100%;
  max-width: 200px;
  margin: 25px 0;
  background: #49205c;
  color: #eee;
  outline: none;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}

.contact {
  width: 100%;
  height: 25vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}

.contact-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
}
.contact-content .container {
  width: 100%;
  height: 750px;
  padding: 0 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  transform: translateY(-75px);
  background: #fff;
}
.contact-content .container .left-bar {
  width: 50%;
}
.contact-content .container .left-bar h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(24px, 5vw, 48px);
  color: #212121;
  margin-bottom: 20px;
}
.contact-content .container .left-bar p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 2vw, 22px);
  text-align: justify;
  color: #212121;
  margin-bottom: 25px;
}
.contact-content .container .left-bar li {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(12px, 2vw, 24px);
  display: flex;
  align-items: center;
  color: #212121;
}
.contact-content .container .left-bar li .icon {
  margin-right: 25px;
  font-size: clamp(1rem, 2vw, 2rem);
}
.contact-content .container .right-bar {
  width: 50%;
}
.contact-content .container .right-bar form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-content .container .right-bar form .input-group {
  position: relative;
  width: 60%;
  overflow: hidden;
  margin: 10px 0;
}
.contact-content .container .right-bar form .input-group input,
.contact-content .container .right-bar form .input-group textarea {
  width: 100%;
  height: 50px;
  border: none;
  color: #212121;
  padding-top: 20px;
  outline: none;
}
.contact-content .container .right-bar form .input-group textarea {
  height: 100px;
  resize: none;
}
.contact-content .container .right-bar form .input-group input:focus + .label-name .content-name,
.contact-content .container .right-bar form .input-group input:valid + .label-name .content-name {
  transform: translateY(-25px);
  font-size: 14px;
  color: #49205c;
}
.contact-content .container .right-bar form .input-group textarea:focus + .label-name .content-name,
.contact-content .container .right-bar form .input-group textarea:valid + .label-name .content-name {
  transform: translateY(-80px);
  font-size: 14px;
  color: #49205c;
}
.contact-content .container .right-bar form .input-group input:focus + .label-name::after,
.contact-content .container .right-bar form .input-group textarea:focus + .label-name::after {
  transform: translateX(0);
}
.contact-content .container .right-bar form .input-group label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #212121;
}
.contact-content .container .right-bar form .input-group label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid #49205c;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.contact-content .container .right-bar form .input-group label .content-name {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 1450px) {
  .contact-content {
    padding: 0 25px;
  }
  .contact-content .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 450px) {
  .contact-content .container {
    flex-direction: column;
    padding: 50px 25px;
    align-items: flex-start;
    height: auto;
  }
  .contact-content .container .left-bar,
.contact-content .container .right-bar {
    width: 100%;
  }
  .contact-content .container .left-bar li .icon {
    margin-right: 5px;
  }
}
.background {
  width: 100%;
  height: 100vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
}

.login-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(73, 32, 92, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-screen .login-card {
  width: 400px;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 0 50px;
  position: relative;
}
.login-screen .login-card h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  color: #49205c;
}
.login-screen .login-card a {
  text-decoration: none;
}
.login-screen .login-card a .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #212121;
}
.login-screen .login-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-screen .login-card form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  color: #212121;
}
.login-screen .login-card form .input-group input {
  margin: 10px 0;
  height: 50px;
  border-radius: 10px;
  background: #f7f7f7;
  border: none;
  padding: 10px;
}
.login-screen .login-card form .login-settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-screen .login-card form .login-settings label {
  width: 50%;
  font-weight: 600;
  font-size: 12px;
  color: #49205c;
}
.login-screen .login-card form .login-settings label span {
  margin-left: 5px;
}
.login-screen .login-card form .login-settings a {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  line-height: 55px;
  color: #49205c;
}
.login-screen .login-card h2 {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: #212121;
}
.login-screen .login-card h2 a {
  font-weight: 600;
  font-size: 14px;
  color: #49205c;
}

@media screen and (max-width: 450px) {
  .login-screen .login-card {
    width: 100%;
    margin: 0 25px;
    padding: 0 25px;
  }
}
.background {
  width: 100%;
  height: 100vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
}

.register-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(73, 32, 92, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-screen .register-card {
  width: 400px;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 0 50px;
  position: relative;
  align-items: center;
}
.register-screen .register-card h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  color: #49205c;
}
.register-screen .register-card a {
  text-decoration: none;
}
.register-screen .register-card a .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #212121;
}
.register-screen .register-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-screen .register-card form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  color: #212121;
}
.register-screen .register-card form .input-group input {
  margin-top: 5px;
  height: 50px;
  border-radius: 10px;
  background: #f7f7f7;
  border: none;
  padding: 10px;
}
.register-screen .register-card form .checkbox {
  width: 100%;
  font-size: 12px;
  color: #212121;
  margin-top: 10px;
  margin-bottom: 25px;
}
.register-screen .register-card form .checkbox span {
  margin-left: 5px;
}
.register-screen .register-card form .checkbox span span {
  color: #49205c;
  font-weight: 600;
}
.register-screen .register-card h2 {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 50px;
  color: #212121;
}
.register-screen .register-card h2 a {
  font-weight: 600;
  font-size: 14px;
  color: #49205c;
}

@media screen and (max-width: 450px) {
  .register-screen .register-card {
    width: 100%;
    margin: 0 25px;
    padding: 0 25px;
  }
  .register-screen .register-card h2 {
    margin-bottom: 50px;
  }
}
.offer-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
}
.offer-content .container {
  width: 100%;
  height: 750px;
  background: #fff;
  padding: 0 100px;
  transform: translateY(-75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.offer-content .container h1 {
  font-weight: normal;
  font-size: clamp(24px, 4vw, 36px);
  line-height: 54px;
  color: #212121;
  margin: 25px 0;
}
.offer-content .container form {
  display: grid;
  position: relative;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 140px 1fr;
}
.offer-content .container form .input-group {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin: 10px 0;
}
.offer-content .container form .input-group.text {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 100px;
}
.offer-content .container form .input-group input,
.offer-content .container form .input-group textarea {
  width: 100%;
  height: 50px;
  border: none;
  color: #212121;
  padding-top: 20px;
  outline: none;
}
.offer-content .container form .input-group textarea {
  height: 100px;
  resize: none;
}
.offer-content .container form .input-group input:focus + .label-name .content-name,
.offer-content .container form .input-group input:valid + .label-name .content-name {
  transform: translateY(-20px);
  font-size: 14px;
  color: #49205c;
}
.offer-content .container form .input-group textarea:focus + .label-name .content-name,
.offer-content .container form .input-group textarea:valid + .label-name .content-name {
  transform: translateY(-70px);
  font-size: 14px;
  color: #49205c;
}
.offer-content .container form .input-group input:focus + .label-name::after,
.offer-content .container form .input-group textarea:focus + .label-name::after {
  transform: translateX(0);
}
.offer-content .container form .input-group label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #212121;
}
.offer-content .container form .input-group label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid #49205c;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.offer-content .container form .input-group label .content-name {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: transform 0.5s ease;
}
.offer-content .container form button {
  grid-row: 4/5;
  grid-column: 2/3;
}
.offer-content .container form .checkbox {
  align-self: center;
  width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  color: #212121;
  margin-top: 10px;
  margin-bottom: 25px;
}
.offer-content .container form .checkbox input[type=checkbox] {
  border: 1px solid #49205c;
}
.offer-content .container form .checkbox span {
  margin-left: 5px;
}
.offer-content .container form .checkbox span span {
  color: #49205c;
  font-weight: 600;
}

@media screen and (max-width: 1450px) {
  .offer-content {
    padding: 0 25px;
  }
  .offer-content .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 450px) {
  .offer-content .container {
    padding: 50px 25px;
    height: auto;
  }
  .offer-content .container form {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}
.error-background {
  width: 100%;
  height: 25vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}

.error-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
}
.error-content .container {
  width: 100%;
  height: 750px;
  background: #fff;
  padding: 0 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  transform: translateY(-75px);
}
.error-content .container .leftbar {
  width: 50%;
  padding-right: 50px;
}
.error-content .container .leftbar h1 {
  font-weight: normal;
  font-size: clamp(24px, 4vw, 48px);
  color: #212121;
  margin-bottom: 10px;
}
.error-content .container .leftbar span {
  font-weight: bold;
  font-size: clamp(72px, 8vw, 96px);
  color: #212121;
  margin-bottom: 20px;
}
.error-content .container .leftbar p {
  font-weight: normal;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #212121;
  margin-bottom: 20px;
}
.error-content .container .leftbar a {
  width: 200px;
  text-align: center;
  padding: 0.75rem 3rem;
  background: #49205c;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(18px, 3vw, 24px);
  line-height: 36px;
  color: #eee;
}
.error-content .container .rightbar {
  width: 50%;
}
.error-content .container .rightbar img {
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .error-content {
    padding: 0 25px;
  }
  .error-content .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 450px) {
  .error-content .container {
    padding: 50px 25px;
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .error-content .container .rightbar {
    width: 100%;
    align-self: center;
  }
  .error-content .container .rightbar img {
    width: 200px;
  }
  .error-content .container .leftbar {
    width: 100%;
    padding: 0;
  }
}
.category-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-content__title {
  width: 420px;
  text-align: center;
  font-weight: 600;
  font-size: clamp(24px, 4vw, 36px);
  line-height: 50px;
  padding: 15px 0;
  margin-bottom: 25px;
  color: #212121;
  border-bottom: 5px solid #49205c;
  /*&::after {
    content: "";
    width: 420px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #49205c;
  }*/
}
.category-content p {
  text-align: center;
  font-weight: normal;
  font-size: clamp(14px, 3vw, 18px);
  line-height: 21px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.category-content .profession-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 150px;
}

.hero .search-bar {
  width: 100%;
  max-width: 1400px;
  height: 150px;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -75px;
  z-index: 10;
  display: flex;
  padding: calc(75px / 2);
  align-items: center;
  justify-content: space-between;
}
.hero .search-bar a,
.hero .search-bar span {
  text-decoration: none;
  width: 75px;
  height: 75px;
  background: #49205c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.hero .search-bar a .icon,
.hero .search-bar span .icon {
  font-size: 40px;
  color: #eee;
}

@media screen and (max-width: 1450px) {
  .hero .search-bar {
    max-width: calc(100% - 50px);
  }
}
@media screen and (max-width: 450px) {
  .category-content {
    margin-top: 300px;
  }
  .category-content__title {
    width: 280px;
  }

  .hero .search-bar {
    flex-direction: column;
    height: 320px;
    bottom: -245px;
  }
  .hero .search-bar span {
    width: 100%;
  }
  .hero .search-bar span .icon {
    font-size: 20px;
  }
}
.providers-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
  margin-top: 125px;
}

.profile-background {
  width: 100%;
  height: 40vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}

.profile-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
}
.profile-content .container {
  width: 100%;
  min-height: 600px;
  height: auto;
  transform: translateY(-75px);
  background: #fff;
  padding: 0 50px;
  display: flex;
}
.profile-content .container .leftbar {
  width: 25%;
  height: 100%;
}
.profile-content .container .leftbar img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid #eee;
  transform: translateY(-50%);
}
.profile-content .container .leftbar .data-container {
  transform: translateY(-100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-content .container .leftbar .data-container .rating {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-content .container .leftbar .data-container .rating span {
  font-size: 18px;
}
.profile-content .container .leftbar .data-container .rating .rating-stars span {
  font-size: 32px;
}
.profile-content .container .leftbar .data-container .contact-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.profile-content .container .leftbar .data-container .contact-data h2 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
}
.profile-content .container .leftbar .data-container .action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-content .container .leftbar .data-container .action-buttons button,
.profile-content .container .leftbar .data-container .action-buttons a {
  text-decoration: none;
  width: 250px;
  height: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3e3e3;
  border: 3px solid #49205c;
  border-radius: 10px;
  color: #49205c;
  margin-bottom: 15px;
  cursor: pointer;
}
.profile-content .container .leftbar .data-container .action-buttons button .icon,
.profile-content .container .leftbar .data-container .action-buttons a .icon {
  margin: 0 5px;
}
.profile-content .container .rightbar {
  width: 70%;
  height: 100%;
  margin-left: 50px;
  padding-top: 50px;
}
.profile-content .container .rightbar .professions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.profile-content .container .rightbar h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 5px;
  color: #49205c;
}
.profile-content .container .rightbar h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
  color: #49205c;
}
.profile-content .container .rightbar h2 .icon {
  font-size: 24px;
  color: #49205c;
}
.profile-content .container .rightbar h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
  color: #49205c;
}
.profile-content .container .rightbar p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 50px;
  color: #212121;
}

.edit-background {
  width: 100%;
  height: 25vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}

.edit-content {
  width: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
}
.edit-content .container {
  width: 100%;
  height: 750px;
  padding: 100px 50px;
  transform: translateY(-75px);
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}
.edit-content .container .rightbar {
  width: 70%;
}

@media screen and (max-width: 1450px) {
  .edit-content {
    padding: 0 25px;
  }
}

/*# sourceMappingURL=style.css.map */
